<a href="https://colab.research.google.com/github/myoungah-kim/python-practice/blob/main/Python_%EC%9E%85%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python major packages

* Pandas: 데이터 처리/분석. R과 유사하게 테이블 형태, 데이타 프레임 자료형 제공
* Matplotlib: 그래프, 시각화. MATLAB의 그래프 기능과 유사.
* Numpy: 수학 과학 계산, 통계, 선형대수, 벡터, 금융 관련 등.

* Scipy: 기초적인 통계. 고급 과학 계산, 고성능 선형대수, 함수 최적화.

* Scikit-learn: 머신러닝
* TesorFlow: 머신러닝 (딥러닝)
* Pytorch: 머신러닝 (딥러닝), 오픈소스, 간결, 빠른 구현.
* Keras: 신경망 머신러닝, 오픈소스, tensorflow 포함.

## IDE or editors
* Anaconda* (Combo of all machine learning packages)
* Canopy

* Jupyter notebook* / Google Colab
* Pycharm

<img src="">

#Data types
* Integer (ex. 0, 1, 2, 3)
* Float (ex. 0.314...)
* String (ex. "Hello World" 'Hello World')
* Boolean (ex. TRUE, FALSE)

In [ ]:
a = 100
b = 8907.78
c = "python"
d = True

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

100
8907.78
python
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Change data types (Casting functions)

int()
float()
str()
bool()

In [ ]:
a = 100
b = 8907.78
c = "python"
d = True

print(float(a))
print(int(b))
print(str(a), type(str(a))) 
print(str(d), type(str(d)))
print(bool(a), type(bool(a)))

100.0
8907
100 <class 'str'>
True <class 'str'>
True <class 'bool'>
True
True
True
False
False

## Bool 이 true인 경우와 false인 경우

bool 은 무엇이 있는 경우는 항상 TRUE 이다. FALSE 인 유일할 경우는 0 이거나 null string.

In [ ]:
print(bool(100))
print(bool(-100))
print(bool("python"))
print(bool(0)) # 0
print(bool("")) # null string

True
True
True
False
False

# Data structures
* List
* Tuples
* Dictionary

# Operators
* Math Operators: +, -, /, //, %, * <br/>
* Relational Operators: ==, !=, >, <, >=, <=
* Logical Operators: and, or, not

In [ ]:
a = 7
b = 3
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

a+=1
print(a)

10 4 21 2.3333333333333335 2 1 343
8

In [ ]:
div, remainder = divmod(7, 3) # Both divided outcome and remainder
print(div, remainder)

2 1

## is, is not

In [ ]:
1 == 1.0 # 값을 비교

True

In [ ]:
1 is 1.0 # Object를 비교

False

# Input
마우스와 키보드를 사용하여 입력을 받음.

In [ ]:
a = input()
a = input('문자를 입력하세요: ')
print(a, type(a))

b = input('숫자를 입력하세요: ')
b = int(b)
print(b, type(b))

python
문자를 입력하세요: python
python <class 'str'>
숫자를 입력하세요: 4
4 <class 'int'>

In [ ]:
a = int(input('첫번째 숫자를 입력'))
b = int(input('첫번째 숫자를 입력'))
print(a+b)

# string 더하기
a = input('첫번째 숫자를 입력')
b = input('첫번째 숫자를 입력')
print(a+b)

첫번째 숫자를 입력100
첫번째 숫자를 입력200
300
첫번째 숫자를 입력100
첫번째 숫자를 입력200
100200

#Output
seperator : sep = "" <br/>
end 빈칸은 뒤에 대기하게 하는 것

In [ ]:
print(1, 2, 3)
print(1, 2, 3, sep = ',')
print("Hello", "python", sep = " ")

print(1)
print(2)
print(3)

print(1, end="")
print(2, end="")
print(3)

1 2 3
1,2,3
Hello python
1
2
3
123

##Split()

In [ ]:
 a, b = input("숫자를 두개 입력해주세요: ").split()

a = int(a)
b = int(b)
 print(a)
 print(b)
 print(a + b)

숫자를 두개 입력해주세요: 3 4
3
4
7

## Spaceholders %d, %f, %s

In [ ]:
print("%d / %d = %f" %(100, 200, 0.5))
print("%d / %d = %5.1f" %(100, 200, 0.5))

100 / 200 = 0.500000
100 / 200 =   0.5

## Format()

In [ ]:
print("{} {} {}".format(100, 200, 300))
print("{0:d} {1:5d} {2:05d}".format(123, 123, 123))

#돈 출력할때
print("{:,}".format(30000000000000))

100 200 300
123   123 00123
30,000,000,000,000

## Escape \n \t \b \\ \' \*

\n : Enter </br>
\t : Tab </br>
\b : Backspace </br>
\' : '

In [ ]:
print(1, 2, 3, sep = "\n")

print("글자가 \"강조\" 되는 효과")

1
2
3
글자가 "강조" 되는 효과

## Map()

In [ ]:
 a, b = map(int, input("숫자를 두개 입력해주세요: ").split())

 print(a)
 print(b)
 print(a + b)

숫자를 두개 입력해주세요: 100 200
100
200
300

# If

In [ ]:
x = 5
y = x if x == 5 else 0
print(y)

x = 10
y = x if x == 5 else 0
print(y)


a = 75

if a > 50:
  if a < 100:
    print('50보다 크고 100보다 작군요')
  else:
    print('100보다 크군요')
else:
  print('50보다 작군요')



score = int(input("점수를 입력하세요 : "))

if score >= 90:
  print('A')
elif score >= 80:
  print('B')
elif score >= 70:
  print('C')
elif score >= 60:
  print('D')
else:
  print('F')

print(score)

5
0
50보다 크고 100보다 작군요
점수를 입력하세요 : 75
C
75

# For

In [ ]:
for i in range(25):
  print("Hello World")

for i in range(0, 3, 1):
  print("%d 안녕하세요" %i)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
0 안녕하세요
1 안녕하세요
2 안녕하세요

# While

In [ ]:
i = 0
while i < 100:
  print(i, "Hello, World!", end = " ")
  i+= 1


import random
i = 0
while i != 3:
  i = random.randint(0, 9)
  print(i)


count = 3
i = 1
while 1:
  print(i)
  if i == count:
    break;
  i += 1

0 Hello, World! 1 Hello, World! 2 Hello, World! 3 Hello, World! 4 Hello, World! 5 Hello, World! 6 Hello, World! 7 Hello, World! 8 Hello, World! 9 Hello, World! 10 Hello, World! 11 Hello, World! 12 Hello, World! 13 Hello, World! 14 Hello, World! 15 Hello, World! 16 Hello, World! 17 Hello, World! 18 Hello, World! 19 Hello, World! 20 Hello, World! 21 Hello, World! 22 Hello, World! 23 Hello, World! 24 Hello, World! 25 Hello, World! 26 Hello, World! 27 Hello, World! 28 Hello, World! 29 Hello, World! 30 Hello, World! 31 Hello, World! 32 Hello, World! 33 Hello, World! 34 Hello, World! 35 Hello, World! 36 Hello, World! 37 Hello, World! 38 Hello, World! 39 Hello, World! 40 Hello, World! 41 Hello, World! 42 Hello, World! 43 Hello, World! 44 Hello, World! 45 Hello, World! 46 Hello, World! 47 Hello, World! 48 Hello, World! 49 Hello, World! 50 Hello, World! 51 Hello, World! 52 Hello, World! 53 Hello, World! 54 Hello, World! 55 Hello, World! 56 Hello, World! 57 Hello, World! 58 Hello, World! 59 Hello, World! 60 Hello, World! 61 Hello, World! 62 Hello, World! 63 Hello, World! 64 Hello, World! 65 Hello, World! 66 Hello, World! 67 Hello, World! 68 Hello, World! 69 Hello, World! 70 Hello, World! 71 Hello, World! 72 Hello, World! 73 Hello, World! 74 Hello, World! 75 Hello, World! 76 Hello, World! 77 Hello, World! 78 Hello, World! 79 Hello, World! 80 Hello, World! 81 Hello, World! 82 Hello, World! 83 Hello, World! 84 Hello, World! 85 Hello, World! 86 Hello, World! 87 Hello, World! 88 Hello, World! 89 Hello, World! 90 Hello, World! 91 Hello, World! 92 Hello, World! 93 Hello, World! 94 Hello, World! 95 Hello, World! 96 Hello, World! 97 Hello, World! 98 Hello, World! 99 Hello, World! 8
6
5
0
9
5
4
3
1
2
3

# Break, Continue

Break: loop 완전 탈출

In [ ]:
for i in range(1, 100):
  print("for 문을 %d 번 실행했습니다." %i)
  break

for 문을 1 번 실행했습니다.

Continue: loop 한번만 탈출

In [ ]:
hap, i = 0,0

for i in range(1, 101):
  if i % 3 == 0:
    continue

  hap +=i

print("1~100의 합계(3의 배수 제외): %d" %hap)

1~100의 합계(3의 배수 제외): 3367

# List

['abc', 123]
* 1 dimensional sequencce of different data type objects
* Can be indexed and sliced

# Tuples

('abc', 123)

* List that cannot be updated

# Dictionary

{
  '학번': 1000,
  '이름': '홍길동'
  '학과': '컴퓨터'
}

* key-value pairs

# Built-in Functions

## String functions

In [ ]:
count()

find()
find('', 5) # start finding from 5th
rfind() # find from right

index() # same as find() but if cannot find, it returns error (thus find() is better)


upper()
lower()
swapcase()
title()

startswith('')
endswith('')

replace('from', 'to')
split()
join()
strip() # 양쪽 공백 제거
lstrip()
rstrip()

len()

# Functions

# Lamda functions

# Module

# File read(), write()

# Try, except

# Class

# Web crawling

# Word Cloud